.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;

}

.banner-container .banner {
    background: linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #d63031 68%, #ff7675 68.1%);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .shoe {
    flex: 1 1 250px;
    padding: 15px;
    text-align: center;
}

.banner-container .banner .shoe img {
    width: 100%;
    margin-left: -80px;
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.banner-container .banner .shoe img:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.banner-container .banner .content_1 {
    flex: 1 1 250px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}



.banner-container .banner .content_1 h3 {
    color: #fff;
    font-size: 31px;
}

.banner-container .banner .content_1 p {
    color: #eee;
    font-size: 20px;
    padding: 10px 0;
}

.banner-container .banner .content_1 .btn {
    display: block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background: #fff;
    color: #d63031;
    margin: 5px auto;
    text-decoration: none;
}

.banner-container .banner .content_1 .btn:hover {
    background: linear-gradient(-55deg, #ff7675 49.9%, #d63031 50.1%);
    color: white;
}

.banner-container .banner {
    position: relative;
    bottom: -33px;
    padding: 10px;

}

.banner-container .banner img {
    width: 100%;
}

@media (max-width: 300px) {
    .banner-container .banner {
        display: none;
    }
}




/* Card Section */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fb5151;
    position: absolute;
    height: 30%;
    overflow: hidden;
    border-radius: 15px;
}

.sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.sidebar a:hover {
    background-color: #555;
}

.active {
    background-color: #555;
}



.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 450px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

/* Create four equal columns */
.column {
    flex: 25%;
    padding: 25px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    height: 410px;
}

.column a {
    text-decoration: none;
    border: 1px solid black;
    padding: 7px;
    border-radius: 10px;
    color: black;
}

.column a:hover {
    text-decoration: none;
    border: 1px solid black;
    padding: 7px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.column p {
    font-size: 15px;
    font-weight: bolder;
    word-spacing: 1px;
}

.column img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}

.column h6 {
    font-size: 12px;
}

.icon {
    display: flex;
    gap: 20px;
    margin-top: -23px;

}




@media screen and (min-width: 768px) and (max-width:1200px) {
    .column {
        flex: 33.3%;
    }

}


@media screen and (min-width:200px) and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .sidebar {
        background-color: rgb(255, 255, 255);
    }

    .sidebar a {
        color: rgb(0, 0, 0);
    }

    .sidebar a:hover {
        background-color: black;
        color: white;
    }
}



/* Match css start */

.flag {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.flag img {
    width: 150px;
    height: 150px;
}

/* Footer Css Start */

footer {
    position: sticky;
    bottom: 0;
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 450px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}


.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media screen and (min-width:300px) and (max-width: 760px) {

    .footer-distributed {
        font: bold 14px sans-serif;
        margin-top: 1315%;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

@media screen and (min-width:760px) and (max-width: 1100px) {

    .footer-distributed {
        font: bold 14px sans-serif;
        margin-top: 506%;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}